<p>
    Bienvenido a la página de inicio
</p>

<nav>
    <li><a href="/cursos/crear">Crear Cursos</a></li>
    <li><a href="/cursos/ver">Ver Cursos</a></li>
    <li><a href="/cursos/inscribir">Inscribir</a></li>
    <li><a href="/cursos/inscritos">Ver Inscritos</a></li>
</nav>